# 02-6 집합 자료형

# 집합 자료형은 어떻게 만들까?

집합(set)은 파이썬 2.3부터 지원되기 시작한 자료형으로, 집합에 관련된 것들을 쉽게 처리하기 위해 만들어진 자료형이다.

집합 자료형은 다음과 같이 set 키워드를 이용해 만들 수 있다.

In [6]:
>>> s1 = set([1,2,3])
>>> s1

{1, 2, 3}

위와 같이 set()의 괄호 안에 리스트를 입력하여 만들거나 아래와 같이 문자열을 입력하여 만들 수도 있다.

In [7]:
>>> s2 = set("Hello")
>>> s2

{'H', 'e', 'l', 'o'}

# 집합 자료형의 특징

자, 그런데 위에서 살펴본 set("Hello")의 결과가 좀 이상하지 않은가? 분명 "Hello"라는 문자열로 set 자료형을 만들었는데 생성된 자료형에는 l 문자가 하나 빠져 있고 순서도 뒤죽박죽이다. 그 이유는 set에는 다음과 같은 2가지 큰 특징이 있기 때문이다.

- 중복을 허용하지 않는다.
- 순서가 없다(Unordered).

리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만 set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다. 이는 마치 02-5절에서 살펴본 딕셔너리와 비슷하다. 딕셔너리 역시 순서가 없는 자료형이라 인덱싱을 지원하지 않는다. 만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후 해야 한다.

(※ 중복을 허용하지 않는 set의 특징은 자료형의 중복을 제거하기 위한 필터 역할로 종종 사용되기도 한다.)

In [8]:
>>> s1 = set([1,2,3])
>>> l1 = list(s1)
>>> print l1
>>> print l1[0]
>>> t1 = tuple(s1)
>>> print t1
>>> print t1[0]

[1, 2, 3]
1
(1, 2, 3)
1

# 집합 자료형 활용하는 방법

### 교집합, 합집합, 차집합 구하기

set 자료형이 정말 유용하게 사용되는 경우는 다음과 같이 교집합, 합집합, 차집합을 구할 때이다.

우선 다음과 같이 2개의 set 자료형을 만든 후 따라 해보자. s1은 1부터 6까지의 값을 가지게 되었고, s2는 4부터 9까지의 값을 가지게 되었다.

In [9]:
>>> s1 = set([1, 2, 3, 4, 5, 6])
>>> s2 = set([4, 5, 6, 7, 8, 9])

#### 1. 교집합

s1과 s2의 교집합을 구해 보자.

In [10]:
>>> s1 & s2

{4, 5, 6}

"&" 기호를 이용하면 교집합을 간단히 구할 수 있다.

또는 다음과 같이 intersection 함수를 사용해도 동일한 결과를 리턴한다.

In [11]:
>>> s1.intersection(s2)

{4, 5, 6}

s2.intersection(s1)을 사용해도 결과는 같다.

#### 2. 합집합

합집합은 다음과 같이 구할 수 있다. 이때 4, 5, 6처럼 중복해서 포함된 값은 한 개씩만 표현된다.

In [12]:
>>> s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

"|" 기호를 이용한 방법이다.

In [13]:
>>> s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

또는 union 함수를 이용하면 된다. 교집합에서 사용했던 intersection 함수와 마찬가지로 s2.union(s1)을 사용해도 동일한 결과를 리턴한다.

#### 3. 차집합

차집합은 다음과 같이 구할 수 있다.

In [14]:
>>> print s1 - s2
>>> print s2 - s1

set([1, 2, 3])
set([8, 9, 7])

빼기(-) 기호를 이용한 방법이다.

In [15]:
>>> print s1.difference(s2)
>>> print s2.difference(s1)

set([1, 2, 3])
set([8, 9, 7])

difference 함수를 이용해도 차집합을 구할 수 있다.

# 집합 자료형 관련 함수들

### 값 1개 추가하기(add)

이미 만들어진 set 자료형에 값을 추가할 수 있다. 1개의 값만 추가(add)할 경우에는 아래와 같이 한다.

In [16]:
>>> s1 = set([1, 2, 3])
>>> s1.add(4)
>>> s1

{1, 2, 3, 4}

### 값 여러 개 추가하기(update)

여러 개의 값을 한꺼번에 추가(update)할 때는 다음과 같이 하면 된다.

In [17]:
>>> s1 = set([1, 2, 3])
>>> s1.update([4, 5, 6])
>>> s1

{1, 2, 3, 4, 5, 6}

### 특정 값 제거하기(remove)

특정 값을 제거하고 싶을 때는 아래와 같이 하면 된다.

In [18]:
>>> s1 = set([1, 2, 3])
>>> s1.remove(2)
>>> s1

{1, 3}

지금까지 파이썬의 가장 기본이 되는 자료형인 숫자, 문자열, 리스트, 튜플, 딕셔너리, 집합에 대해서 알아보았다. 여기까지 잘 따라온 독자라면 파이썬에 대해서 대략 50% 정도 습득했다고 보아도 된다. 그만큼 자료형은 중요하고 프로그램의 근간이 되기 때문에 확실하게 해놓지 않으면 좋은 프로그램을 만들 수 없다. 책에 있는 예제들만 따라 하지 말고 02장 끝부분에 있는 연습문제도 풀어 보고 직접 여러 가지 예들을 테스트해 보며 02-1부터 02-6절까지의 자료형들에 익숙해지기를 당부한다.